html {
    font-size: 10px;
}
:root {
    font-size: 10px;
}
h1, h2 {
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: 800;

    --e-global-color-primary: #D8A3CD;
    --e-global-color-secondary: #DDA309;
    --e-global-color-text: #515151;
    --e-global-color-accent: #D088B1;
    --e-global-color-480306d: #F8EBEC;
    --e-global-color-fa39baf: #D8A3CD;
    --e-global-color-5c24791: #333333;
    --e-global-color-d0a19b1: #FBFBFB;
    --e-global-color-a3d2afd: #FFFFFF;
    --e-global-color-ebb5f1b: #8A9EB5;
    --e-global-color-8e8a8a2: #BDBDBD;
    --e-global-color-e7ed2e8: #4F4F4F;
    --e-global-typography-primary-font-family: "Graphit";
    --e-global-typography-primary-font-size: 7.5rem;
    --e-global-typography-primary-font-weight: bold;
    --e-global-typography-secondary-font-family: "Open Sans";
    --e-global-typography-secondary-font-size: 7rem;
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Open Sans";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Open Sans";
    --e-global-typography-accent-font-weight: 500;
}

@media (max-width: 1366px) {
    html {
        font-size: 7px;
    }
    :root {
        font-size: 7px;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 7px;
    }
    :root {
        font-size: 7px;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 6px;
    }
    :root {
        font-size: 6px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(25, 23, 43);
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}
/* GENERAL CLASSES */
.disable {
    height: 0 !important;
    opacity: 0 !important;
    pointer-events: none !important;
	transition: all 0.2s ease;
}

.enable{
	opacity: 1;
	transition: all .2s ease-in-out;
}

/* header */
header {
    width: 100vw;
    height: 210px;
    padding: 2rem;
    max-width: 100%;
    max-height: 100%;
    background-color: #3f3f3f;
	
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2;
}

/* NAV SCROLL buttons */

.btn-previous{
    background-color: red;
    width: 100px;
    height: 100px;
    z-index: 9;
    position: absolute;
    bottom: 0;
    right: 120px;
}

.btn-next{
    background-color: blue;
    width: 100px;
    height: 100px;
    z-index: 9;
    position: absolute;
    bottom: 0;
    right: 0;
}

.logo {
	z-index: 4;
    /* padding: 2em; */
}
.logo img {
	z-index: 4;
    width: 250px;
}
.main-nav ul li {
	display: inline-flex;
    flex-direction: column;
    color: white;
    margin: 20px;
    font-size: 1.6rem;
    z-index: 12;
}
#open-menu {
	cursor: pointer;
    z-index: 99;
}
.open-menu-active {
	fill: #fff !important;
}
/* MEGAMENU */
#megamenu-wrapper {
	opacity: 0;
    pointer-events: none;
    transition: all 500ms ease;
}
.megamenu-wrapper-active {
	opacity: 1 !important;
    pointer-events: all !important;
    transition: all 500ms ease;
}
.megamenu{
	position: absolute;
    top: 50%;
	transform: translateY(-50%);
	
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
	
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
	
    padding: 8vh 4rem 2rem 4rem;
	
    font-size: 7.5rem;
    z-index: 10;
	overflow: hidden !important;
}



.megamenu .back-button {
    top: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 55px;
    padding: 3rem;
    margin-right: auto;
    margin-bottom: 2rem;
    background-color: #f8ebec;
    border-radius: 50px;

    color: #333333;
    font-family: Graphit;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;

    transition: all 200ms ease;
	z-index: 13;
}

.megamenu .back-button:hover {
    transition: all 200ms ease;
    color: #d088b1;

    /* transform: scale(1.02); */
}
.megamenu .back-button svg {
    transform: rotate(180deg);
    margin-right: 1rem;
    transition: transform 200ms ease;
}
.megamenu .back-button:hover svg {
    transition: transform 200ms ease;
    transform: rotate(180deg) translateX(10px);
}
.megamenu-nav{
	z-index: 12 !important;
}
.megamenu-nav #categories {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.megamenu-nav #categories .category-item {
    /*display: flex;
    flex-direction: row; */
    font-family: Graphit;
    font-weight: 700;

    transition: transform 300ms ease;
    transform-origin: left;
    z-index: 17 !important;
}


/*---------------- */
.disable {
    height: 0 !important;
    opacity: 0 !important;
    pointer-events: none !important;
	transition: opacity 1s ease-in-out 5s, height 2s ease 4s;
}
.enable{
	opacity: 1;
	transition: all 1s ease-in-out;
}
/*---------------- */

.categories .categoryItem:hover {
    transition: all 200ms ease;
    transform: scale(1.2);
}

.category-item .activeLi{
	transform: scale(1) !important;
    transition: all .2s ease-in;
}
    .activeLi > a{
        -webkit-text-fill-color: initial !important;
        -webkit-text-stroke-width: initial !important;
        -webkit-text-stroke-color: initial !important;
        transition: all 2s cubic-bezier(0, 0.96, 0.65, 1);
    }

.category-item .activeLi > a{
    -webkit-text-fill-color: initial !important;
    -webkit-text-stroke-width: initial !important;
    -webkit-text-stroke-color: initial !important;
	transition: all 2s cubic-bezier(0, 0.96, 0.65, 1);
}

.categories .category-item{
    width: auto;
	display: flex;
	align-items: center;
	flex-wrap:wrap;
	font-size: clamp(6.5rem, 6vh, 7vh);
    cursor: pointer;
    
}

.categories .category-item > a{
    min-width: 60vw !important;
    pointer-events: none;
}

.categories a {
    text-decoration: none;
    line-height: auto;
    text-transform: capitalize;

    color: #333333;
    -webkit-text-fill-color: #33333300;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #333333;

    margin-left: 3rem;
    
}

.categories .category-item:hover > a {
    -webkit-text-fill-color: #333333;
    -webkit-text-stroke-color: #33333300;
    -webkit-text-stroke-width: 1px;
    transition: all .2s ease-in-out;
}

.category-item:nth-child(1){
    order: 1;
}
.category-item:nth-child(2){
    order: 2;
}
.category-item:nth-child(3){
    order: 3;
}
.category-item:nth-child(4){
    order: 4;
}
.category-item:nth-child(5){
    order: 7;
}
.category-item:nth-child(6){
    order: 7;
}
.category-item:nth-child(7){
    order: 5;
}

.submenu{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    width: 60vw;
    height: 0;
    
	transform: translateX(-150%);	
}
.submenu ul{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;

    max-height: 450px;
    padding-bottom: 4rem; 

    box-sizing: border-box ;
    flex-wrap: nowrap;
    /* margin-right: 4rem;  */
}

.categoryItem:first-child .submenu ul:nth-last-child(2){
    order: 99;
}

.submenu ul li a {
    font-family: Open Sans;
    font-size: 1.6rem;
    line-height: 3.75rem;
    color: #515151;
    transition: color 0.2s ease;
	font-weight: 400;
}
.submenu ul:hover li a {
    color: #333333;
    transition: color 0.3s ease;
}
.submenu ul:not(:hover) li a {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}
.submenu-active {
    position: relative;
    width: 60vw !important;
    max-width: 100% !important;
	flex-wrap: nowrap;
    height: auto !important;

    opacity: 1 !important;
	transform: translateX(0) ;
    padding: 2rem 4rem 4rem calc(100px + 8rem);
    margin-left: -4rem;
	
    overflow-x: scroll;
    overflow-y: hidden;
	transition: all .5s cubic-bezier(0, 0.96, 0.65, 1);
    transition-delay: .5s;

}

.submenu-active::-webkit-scrollbar{
    display: none;
}

.submenu-active ul{
    margin-top: 30px;
    margin-right: 5rem;
    min-width: 220px;
    width: 100%;
}

.submenu-active li {
    display: flex;
    justify-content: flex-start;
}
.submenu-active ul li{
	margin-top: 10px;
}
.submenu .title-item {
    font-size: 1.8rem;
    font-weight: 700;
    color: #515151;
}
.submenu-active ul .title-item{
    display: flex;
    position: relative;
    text-transform: uppercase;
    align-items: center;
}
.submenu-active ul .title-item img{
    max-width: 40px;
    margin-left: -40px;
}
.submenu-active li a {
    margin: 0 !important;
    line-height: 20px !important;

	-webkit-text-fill-color: initial !important;
    -webkit-text-stroke-width: initial !important;
    -webkit-text-stroke-color: initial !important;
	transform: none !important;
}
.megamenu .back-button2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 55px;
    padding: 3rem;
    margin-bottom: 2rem;
    background-color: #f8ebec;
    border-radius: 50px;

    color: #333333;
    font-family: Graphit;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    z-index: 2;

    transition: all 200ms ease;
}
.megamenu .back-button2:hover{
    transition: all 200ms ease;
    color: #d088b1;
}
/* .megamenu .back-button2:before{
    background-color: red;
    width: 100%;
} */
.megamenu .back-button2 img{
    margin-right: 1rem;
}

/* BACKGROUND IMAGE */
.background-image{
    position: absolute;
    top: 0;
	right: 0;

    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background-color: #d8a3cd;

    z-index: 10;
    overflow: hidden;
    pointer-events: none;
}
.background-image::after {
    content: "";
    position: absolute;
    right: 0;
    width: 45vw;
    height: 100%;
    /* background: red; */
    background: rgb(216, 163, 205);
    background: linear-gradient(
        270deg,
        rgba(216, 163, 205, 0) 50%,
        rgba(216, 163, 205, 1) 95%
    );
    z-index: 99;
}
.background-image .image-wrapper {
    position: absolute;
    display: flex;
    align-items: center;

    width: 45vw;
    /* border: solid 10px red; */
    overflow: hidden !important;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}
.background-image .image-wrapper::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(216, 163, 205);
    background: radial-gradient(
        circle,
        rgba(216, 163, 205, 0) 0%,
        rgba(216, 163, 205, 0.6250875350140056) 49%,
        rgba(216, 163, 205, 1) 95%
    );
    pointer-events: none;
}
.background-image .image-wrapper img {
    width: 100%;
    object-fit: cover;
    height: 100vh;
}



@media (max-width: 767px){
	header ul{
		display: none;
	}

	.megamenu{
		position: absolute;
		display: flex;
		align-items: flex-start;
		
		transform: translateY(-40%);
		overflow: hidden;
	}

	.megamenu .back-button2{
		display: none;
	}

	.categories .category-item:hover{
		transition: all 200ms ease;
		transform: none;
	}

	.megamenu .back-button{
		display: none;
	}

	.megamenu-nav{
        position: relative;
		height: 100vh !important;
		z-index: 2 !important;
	}

	.megamenu-nav > ul{
		gap: 3vh;
		z-index: 11 !important;
	}

	.category-item{
		line-height: 32px;
		font-size: 5rem;
	}
	.category-item > img{
		display: none;
	}

	.category-item > a{
		margin-left: 0;
		width: 80%;
	}
	
	.submenu{
		flex-wrap: wrap;
	}

	.submenu > *{
		pointer-events: none;
	}

    .submenu-active{
		margin-left: 0 !important;
	}

	.submenu ul{
		margin-left: 0 !important;
	}

	.submenu .title-item{
		display: flex;
		align-items: center;
		text-transform: uppercase;
		font-size: 1.8rem;
		font-weight: 700;
		color: #515151;
		width: fit-content;
	}

	.submenu-active ul .title-item img{
		left: auto;
		right: -40px;
		z-index: 10;
	}
	
	.submenu-active ul li {
		margin-top: 4px;
	}



    /* BACKGROUND IMAGE */
	.background-image::after{
		content: none;
	}

	.background-image .image-wrapper{
		/* display: none; */
		position: absolute;
		top: 65px;
		right: 0;
		width: 200px;
		height: 200px;
	}

	.background-image .image-wrapper img {
		width: 100%;
		height: 100%;
	}

	.background-image .image-wrapper::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0px;
		width: 100%;
		height: 100%;
		background: rgb(216, 163, 205);
		background: radial-gradient( circle, rgba(216, 163, 205, 0) 0%, rgba(216, 163, 205, 0.6250875350140056) 38%, rgba(216, 163, 205, 1) 76% );
		pointer-events: none;
	}

	li a{
		margin: 0 !important;
		line-height: 20px !important;

		-webkit-text-fill-color: initial !important;
		-webkit-text-stroke-width: initial !important;
		-webkit-text-stroke-color: initial !important;
		transform: none !important;
	}
}
